@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
$font-family: 'Rubik', sans-serif;
$text: (top-app: hsl(276, 100%, 81%), chat-left: hsl(276, 55%, 52%), chat-right: hsl(271, 15%, 43%),  placeholder: hsl(202, 15%, 90%), main-heading: hsl(271, 36%, 24%), paragraph: hsl(267, 9%, 80%));
$gradient: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
$gradient-reverse: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));

$color: (app-background: hsl(270, 20%, 96%), submit-button: hsl(271, 36%, 24%), radio-button: hsl(289, 100%, 72%));

html {
    height: 100%;

    body {
        height: 100%;
        font-family: $font-family;

        .booking {
            height: 70rem;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            &__background1 {
                position: absolute;
                height: 120%;
                width: 30%;
                border-radius: 400px;
                top:0;
                left:0;
                background: $gradient;
                z-index: 2;
                transform: translateY(-40%) translateX(-20%);
            }

            &__background2 {
                position: absolute;
                height: 120%;
                width: 30%;
                border-radius: 400px;
                bottom:0;
                right:0;
                background: map-get($color, app-background);
                z-index: 2;
                transform: translateY(40%) translateX(20%);
            }

            &__app {
                box-shadow: 2px 5px 15px black;
                background-color: white;
                border-radius: 20px;
                position:relative;
                z-index: 3;
                height: 50rem;
                width: 25rem;
                padding: 1rem;

                &--header {
                    border-radius: 15px;
                    background: $gradient;
                    height: 13%;
                    width: 100%;
                    position: relative;

                    &--white {
                        position: relative;
                        width: 70%;
                        height: 35%;
                        border-radius: 15px;
                        background: white;
                        z-index: 2;
                        margin: auto;
                        transform: translateY(-30%);
                    }

                    &--content {
                        width: 100%;
                        height: 65%;
                        display: flex;
                        padding: 0;
                        margin: 0;
                        justify-content: flex-start;
                        align-items: center;

                        &--icon {
                            width: 0.8rem;
                            height: 0.8rem;
                            padding: 0;
                            margin: 0 1rem;
                            border-radius: 5px;
                            border-left: 3px solid white;
                            border-top: 3px solid white;
                            transform: rotate(-45deg);
                        }

                        &--img {
                            width: 3rem;
                            height: 3rem;
                            border-radius: 50%;
                            border: 2px solid white;
                        }

                        &--text {
                            margin: 0 1rem;
                            padding: 0;
                            transform: translateY(-10%);

                            h2 {
                                padding: 0.2rem 0;
                                margin: 0.3rem 0;
                                color: white;
                            }

                            p {
                                padding: 0;
                                margin: 0;
                                color: map-get($text, top-app);
                            }
                        }

                        &--toggle {
                            padding: 0;
                            margin: 0;
                            width: 5rem;
                            height: 80%;
                            color: white;
                            font-size: 2rem;
                            transform: rotate(90deg) translateY(-55%) translateX(30%);
                        }
                    }


                }

                &--main {
                    height: 87%;
                    width: 100%;
                    display: flex;
                    flex-flow: column;
                    background: map-get($text, placeholder);
                    box-shadow: 0 -15px map-get($text, placeholder);
                    border-radius: 15px;

                    &--chat-left {
                        align-self: flex-start;
                        background: map-get($text, paragraph);
                        max-width: 65%;
                        border-radius: 15px;
                        padding: 0.7rem 1rem;
                        margin: 0.4rem 0.8rem;
                        color:  map-get($text, chat-left);
                    }

                    &--chat-right {
                        align-self: flex-end;
                        background: white;
                        max-width: 65%;
                        border-radius: 15px;
                        padding: 0.7rem 1rem;
                        margin: 0.4rem 0.8rem;
                        color:  map-get($text, chat-right);

                        &--image-container {
                            display: flex;
                            background: none;
                            margin: 0;
                            padding: 0.6rem 1rem;
                            margin-right: 1.5rem;

                            img {
                                height: 5.5rem;
                                width: 5.5rem;
                                border-radius: 15px;
                                padding: 0 0.3rem;
                            }
                        }
                    }

                    &--chat--highlight {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0.2rem 1rem;
                        margin: 0.2rem 0.8rem;
                        width: 70%;
                        border-radius: 15px;
                        background: $gradient-reverse;
                        color: white;

                        &--icon {
                            width: 1.2rem;
                            height: 1.2rem;
                            border-radius: 50%;
                            border: 1px solid white;
                            margin-right: 1rem;
                        }

                        &--text {
                            font-size: 1.2rem;
                        }

                        &--price {
                            font-size: 1.4rem;
                            letter-spacing: 2px;
                        }


                    }

                    &--message {
                        background: white;
                        width: 90%;
                        height: 7%;
                        align-self: center;
                        margin-top: 0.8rem;
                        padding: 0.2rem;
                        border-radius: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        &--text {
                            color: rgba(0, 0, 0, 0.418);
                            width: 100%;
                            margin: 0 1rem;
                        }

                        &--button {
                            background: black;
                            border-radius: 50%;
                            height: 2.6rem;
                            width: 3.4rem;
                            padding: 0;
                            color: map-get($color, submit-button);

                            &--icon {
                                width: 30%;
                                height: 30%;
                                border-top: 4px solid white;
                                border-right: 4px solid white;
                                transform: translateX(60%) translateY(80%) rotate(45deg);
                            }
                        }
                    }

                }
            }

            &__desc {
                z-index: 3;
                justify-self: stretch;
                width: 30%;
                margin-left: 15%;

                &--title {
                    font-size: 3.5rem;
                    color: map-get($color, submit-button);
                }

                &--text {
                    font-size: 1.4rem;
                    line-height: 2.8rem;
                    color:  map-get($text, chat-right);
                }
               
            }
        }
    }
}

@media (max-width: 1248px) {
    html {
    
        body {
    
            .booking {
                height: 110rem;
                flex-flow: column;
                justify-content: space-around;
    
                &__background1 {
                    width: 50%;
                    transform: translateY(-50%) translateX(-10%);
                }
    
                &__background2 {
                    width: 50%;
                    transform: translateY(70%) translateX(10%);
                }
 
                &__desc {
                    width: 80%;
                    text-align: center;
                    margin: 0;
    
                    &--text {
                        font-size: 1.8rem;
                    }
                   
                }
            }
        }
    }
}
